@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Anek+Gurmukhi:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.card-login, .btn-login {
    font-family: "Advent Pro", sans-serif !important;
}
.home-tittle {
    font-family: "Yellowtail", cursive;
}
.judul {
    font-family: "Anek Gurmukhi", sans-serif;
}
.text {
    font-family: "Allerta", sans-serif;
}
.hello {
    font-family: "Shrikhand", serif;
    font-weight: 400;
}
.bio {
    font-family: "Roboto", serif;
    font-weight: 500;
}